*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: #111238;
}
.menu {
  list-style: none;

  padding: 0;
  margin: 0;
}

.header {
  background: #f2f3f6;
}
img {
  max-width: 100%;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

.menu-link {
  color: #111238;
  text-decoration: none;
}
.button {
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 16px;
}
.button-link {
  color: #111238;
  padding: 10px;
  margin-right: 30px;
}

.button-primary {
  background: #1a75e8;
  border-radius: 5px;
  color: #ffffff;
  padding: 15px 30px;
}

.hero-title {
  font-size: 44px;
  line-height: 53px;
  margin-bottom: 15px;
  margin-top: 43px;
}

.hero-text {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 30px;
}

.input-group {
  background-color: #ffffff;
  border: 1px solid rgba(209, 209, 209, 0.1);
  box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}

.input {
  background-color: #ffffff;
  border: none;
  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
  padding: 15px;
}
.button-icon {
  vertical-align: middle;
}

.button-text {
  vertical-align: middle;
  padding-left: 10px;
}
.input:focus {
  outline: none;
}
.tags-group {
  padding-left: 15px;
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
}

.tag {
  color: #b2b2b2;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #b2b2b2;
  box-sizing: border-box;
  border-radius: 5px;
}
.card {
  text-decoration: none;
  color: #111238;
  background: #f2f3f6;
  border-radius: 10px;
  padding: 35px;
  transition: background 0.2s, color 0.2s;
}
.section {
  padding-top: 70px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 40px;
  margin-top: 0px;
}
.card-icon {
  fill: #111238;
  margin-bottom: 15px;
  transition: fill 0.2s;
}
.card:hover {
  background-color: #1a75e8;
  color: #ffffff;
}
.card:hover .card-icon {
  fill: #ffffff;
}

.offer {
  border: 1px solid #c5c9d5;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}
.offer-title {
  margin-left: 20px;
}
.offer-salary {
  margin-left: 46px;
  margin-right: 62px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: #1a75e8;
  border-radius: 5px;
  padding: 10px 25px;
}
.offer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #f2f3f6;
  background: #fff url(../img/logo-company.png) no-repeat center / contain;
}

.offer-heading {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  margin-top: 10;
}

.offer-place {
  font-size: 14px;
  line-height: 17px;
}

.more {
  color: #1a75e8;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  margin-left: auto;
  margin-right: 25px;
}

.subscribe {
  background: #f2f3f6;
}

.subscribe-form {
  max-width: 460px;
  margin: auto;
  text-align: center;
}

.subscribe-title {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 20px;
}

.subscribe-subtitle {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 40px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 100px;
}

.footer-description,
.footer-copyright {
  font-size: 12px;
  line-height: 140%;
  color: #b2b2b2;
}

.footer-title {
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 15px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #111238;
  margin-bottom: 10px;
  display: block;
}

@media (max-width: 1200px) {
  .offer-salary {
    margin-left: 30px;
    margin-right: 30px;
  }
  .more {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .more {
    margin-right: auto;
    margin-left: auto;
  }

  .offer-title {
    text-align: center;
    margin-left: 0;
  }
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  .tag {
    margin-left: 5px;
  }
  .close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    text-decoration: none;
    text-align: right;
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .hero {
    text-align: center;
  }

  .tags-label {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .hero-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .footer {
    text-align: center;
  }
  .card {
    max-width: 250px;
    margin: 0;
  }
  .section-title {
    text-align: center;
  }
  .menu-item:not(:last-child) {
    margin-right: 0;
  }
  .button-link {
    margin-right: 0;
  }
}
